{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Builder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="{% static 'css/smartbuilder.css' %}">
    {% block head_js %}{% endblock %}
</head>
<body>
    <div class="container">
       <div class="masthead">
           <ul class="nav nav-pills pull-right">
               <li><a href="{% url 'home' %}">Home</a></li>
               <li><a href="{% url 'howitworks' %}">How it works</a></li>
               <li><a href="{% url 'ineedatradesman' %}">I need a tradesman</a></li>
               <li><a href="{% url 'iamatradesman' %}">I am a tradesman</a></li>
               <li><a href="{% url 'contact' %}">Contact</a></li>
           </ul>
           <h1><span class="fui-settings-16 muted">SmartBuilder</span></h1>
       </div>
    </div>
    <div class="parallax"></div>
        
{% block content %}
{% endblock %}
</body>
</html>