{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Builder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="{% static 'css/smartbuilder.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:700" rel="stylesheet">
    {% block head_js %}{% endblock %}
</head>
<body>
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sbNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">SmartBuilder</a>
        </div>
        <div class="collapse navbar-collapse" id="sbNavbar">
          <ul class="nav navbar-nav">
             <li><a href="{% url 'home' %}">HOME</a></li>
             <li><a href="{% url 'howitworks' %}">HOW IT WORKS</a></li>
             <li><a href="{% url 'ineedatradesman' %}">I NEED A TRADESMAN</a></li>
             <li><a href="{% url 'iamatradesman' %}">I AM A TRADESMAN</a></li>
             <li><a href="{% url 'email' %}">CONTACT</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>  Logout</a></li>
            {% else %}
              <li><a href="{% url 'choose' %}"><span class="glyphicon glyphicon-user"></span>  Sign Up</a></li>
              <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="parallax"></div> 
{% block content %}
{% endblock %}
</body>
</html>