{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="content-wrapper">
    <h1><img src="https://png.icons8.com/decision/color/96" title="Decision" width="96" height="96">test decide what you need.. a job done or someone to do the job</h1>
</div>
<div class="arrow-wrapper"><img src="{% static "images/down_arrow.png" %}"/></div>
<div class="content-wrapper">
    <h1><img src="https://png.icons8.com/form/color/96" title="Form" width="96" height="96">fill the form in order to register register</h1>
</div>
<div class="arrow-wrapper"><img src="{% static "images/down_arrow.png" %}"/></div>
<div class="content-wrapper">
    <h1><img src="https://png.icons8.com/job/color/96" title="Job" width="96" height="96">if you want a job to be done then after registering go ahead and psot a job and very soon you will get email with qoutes. If you are a tradesman just go ahead and search trough posted jobs, find one that suits you and send a quote.</h1>
</div>
{% endblock %}