{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	<div class="content-wrapper howto-wrapper">
	   	<img src="{% static "images/decision.png" %}" alt="Decide" width="96" height="96" class="howtoimg">
	   	<p>Make sure you know what you need: a job done or a ...job.</p>
	</div>
	<div class="arrow-wrapper"><img src="{% static "images/down_arrow.png" %}" alt="Arrow Down"></div>
	<div class="content-wrapper howto-wrapper">
	    <img src="{% static "images/form.png" %}" alt="Form" width="96" height="96" class="howtoimg">
	    <p>If you need a job done go to <a href="{% url 'ineedatradesman' %}">I NEED A TRADESMAN</a> page and register.<br>If you look for a job go to <a href="{% url 'iamatradesman' %}">I AM A TRADESMAN</a> page and register.</p>
	</div>
	<div class="arrow-wrapper"><img src="{% static "images/down_arrow.png" %}" alt="Arrow Down"></div>
	<div class="content-wrapper">
	    <img src="{% static "images/job.png" %}" alt="Job" width="96" height="96" class="howtoimg">
		<p>After registration post a job and You'll get email notifications every time a tradesman express interest in your job or, if you are a tradesman go and see a list of jobs, choose the one that suits you and send a quote.</p>
	</div>
{% endblock %}