{% extends "base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content%}
<div class="content-wrapper">
    <h1>test i am a tradesman page</h1>
    <a class="btn-draw" href="{% url 'tradesmanregister' %}" role="button"><span>Register</span></a>
    <a class="btn-draw" href="{% url 'login' %}" role="button"><span>Login</span></a>
    <!-- <a class="btn-draw" href="{% url 'logout' %}" role="button"><span>Log Out</span></a> -->
</div>
{% endblock %}