{% extends "base.html" %}
{% block content %}
<div class="content-wrapper">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>
        	<input type="text" name="title" title required id="id_title" maxlength="200">
        	<div class="label-text">Title</div>
        </label>
        <label>
        	<legend class="description-title">DESCRIPTION</legend>
        	<textarea name="description" rows="10" title required cols="40" id="id_description"></textarea>
        </label>
        <button type="submit">Save</button>
    </form>
</div>
{% endblock %}