{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block head_js %}
    <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
    <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
    </script>
    <script type="text/javascript" src="{% static "js/stripe.js" %}"></script>
{% endblock %}
{% block content %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <div class="content-wrapper">
        <form role="form" method="post" id="tradesman-register-form" action="{% url 'tradesmanregister' %}">
            <p>Create a new account</p>
            <p>You will be charged a one-off amount of £10 to unlimited access the site</p>
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
                <div id="credit-card-errors" style="display:none">
                    <div class="alert-message block-message error" id="stripe-error-message"></div>
                </div>
                <input class="btn btn-primary" id="validate_card_btn" name="commit" type="submit" value="Register">
            </div>
        </form>
    </div>
{% endblock %}